* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared style */
.btn {
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #150fa7;
  transform: scale(1.06);
}


/* Header bg-img */
header {
  background-image: url(assets/Hero-bg.png);
}

/* Navbar */
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.navbar img {
  width: 50px;
}



/* Banner Section */
.banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  max-width: 800px;
  margin-top: 150px;
  font-size: 60px;
  padding-bottom: 30px;
}

.banner .btn {
  margin-bottom: 150px;
}

/* Action Section  */
.action-section {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.action-left h1 {
  font-size: 50px;
  font-weight: bold;
}

.action-left p {
  max-width: 500px;
  font-size: 26px;
  opacity: 40%;
  margin: 25px 0;
}

.action-right img {
  max-width: 100%;
  border-radius: 50px;
}



/*  Productive Users Section */
.users {
  max-width: 1200px;
  margin: 100px auto;
  background-color: #eae7ff;
  text-align: center;
  padding: 50px 0px;
  border-radius: 24px;
}

.users h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 160px;
}

.cards-container .card h3 {
  font-size: 80px;
  color: #4E47FF;
  font-weight: extrabold;
}

.cards-container .card p {
  opacity: 50%;
  font-size: 20px;
}


/* Let’s Get In Touch Section  */
.contact-section {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.contact-left h1 {
  max-width: 500px;
  font-size: 100px;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 20px 40px;
  margin-bottom: 18px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  font-size: 14px;
}
